html, body{
    padding: 0px;
    margin: 0px;
    height:100%;
}

body{
    padding-bottom: 70px;
}

.container{
    height:85%;
    margin-top: 2rem
}

.custom-file-input{
    cursor: pointer;
}

.row{
    margin-top: 1rem;
}

svg{
    display: block;
    margin: 0px auto;
}

.custom-range{
    width: 95%;
    display: block;
    margin: 0px auto;
}

#row-weights{
    margin-top: 4rem;
}